* {
    box-sizing: border-box;
  }
.footer_footer_page{
    background-color: #f2f2f2;
    font-size: 14px;
    padding: 15px;
    display: flex;
}
.container_footer_page{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row_footer_page{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-col-1_footer_page, .footer-col-2_footer_page{
    max-width: 500px;
}
.footer-col-1_footer_page{
    float: left;
    margin-left: 40px;
}
.footer-col-1_footer_page img{
    vertical-align:middle;
    width: 70px;
    height: 30px;
}
.footer-col-2_footer_page{
    margin-left: 200px;
    float: right;
}
.footer-col-2_footer_page i{
    vertical-align:middle;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.fa-facebook:hover , .fa-linkedin-in:hover{
    color: steelblue !important;
}
.fa-youtube:hover , .fa-instagram:hover{
    color:red !important;
}
.mobile-apps-label_footer_page {
    font-size: 14px;
    font-weight: 600;
    margin-right: 30px;  
}
* {
    box-sizing: border-box;
  }
  .column_footer_footer_page {
    float: left;
    width: 25%;
    padding: 10px;
    height: 200px;
    text-align: center;
  }
  .row_footer_footer_footer_page:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn_group .button_form {
  border: none;
     background:white;
     color:black;
     font-size: 17px;
     border: 1px solid blue;
     cursor: pointer;
     padding: 6px;
 }
 .btn_group .button_iletisim {
      border: none;
     background:white;
     color:black;
     font-size: 17px;
     border: 1px solid blue;
     cursor: pointer;
     padding: 6px;
 }
 .btn_group .button_wp {
      border: none;
      background:white;
      color:black;
      font-size: 17px;
      border: 1px solid green;
      cursor: pointer;
      margin-top:6px;
      padding:6px;
      width:249px;    
 }
 .btn_group .button_form:hover, .button_iletisim:hover{
     box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .btn_group .button_wp:hover{
    box-shadow:0 4px 4px 0 rgb(45, 192, 45), 0 6px 12px 0 rgb(34, 199, 34);
 }
 .row_2_footer_page{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
 }
 .column_1_footer_page{
    float: left; 
 }
 .column_2_footer_page{
    margin-left: 1200px;
    align-items: center;
    margin-bottom: 20px;
 }
 .column_1_footer_page, .column_2_footer_page{
     max-width: 800px;
     display: inline-block;
 }
 .img_masterpass{
     width: 60px;
 }
 .img_visa{
    width: 40px;
}
.img_3d{
    width: 15px;
    margin-left: 10px;   
}