#content
{
    overflow: auto; 
    height: 100%;
}
.header_navbar_page {
    background-color: white;
    border: none;
    text-align: left;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.19);
    resize: both;
    width: 100%;
  }
  .header_navbar_page a:hover{
    color:blue;
  }
   .ullist_navbar_page{
      list-style-type: none;
      border-style: hidden;
      overflow: hidden;
      text-align: left;  
  }
  .row_navbar_page{
    display: flex;
  }
  .column_navbar_page {
    margin:1px
    
  }
  .list_navbar_page{
      float:left;
  }
  .list_navbar_page li{
    float: left;
  }
  .list_navbar_page a{
      font-size: 18px;
      display:inline-block;
      color:black;
      text-align: center;
      padding: 8px 8px;
      text-decoration: none;
  }
  .list_navbar_page a .red{
    font-size: 18px;
      display:block;
      color:red;
      text-align: center;
      padding: 8px 8px;
      text-decoration: none;
  }
  .list_social_navbar_page{
    float: right;
    text-align: center;
}
.list_social_navbar_page i{
  margin: 13px;
  margin-left: 35px;
  padding-right: 20px;
}
.list_siparis_navbar_page{
  float: right;
  margin-right:20px;
  
}
  .dropbutton_navbar_page{
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .list_navbar_page a:hover .drowdown:hover .dropbutton_navbar_page:hover{
      color:blue !important;
  }
  .list_navbar_page a.dropdown_navbar_page{
    display: inline-block;
  }
  .dropdown-content_navbar_page {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
  }
  .dropdown-content_navbar_page a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content_navbar_page a:hover {
    background-color: #f1f1f1;
    color:blue;
    }
  .dropdown_navbar_page:hover .dropdown-content_navbar_page {
    display: block;
  }
  .content_navbar_page {
    padding: 16px;
  }
  .sticky_navbar_page {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky_navbar_page + .content_navbar_page {
    padding-top: 60px;
  }
  form.arama_navbar_page input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 14px;
    margin-right: 16px;
    margin-left: 50px;
    width: 980px;
    height: 33px;
    border: none;
    font-size: 17px;
    border: 1px solid #ccc;
  }
  form.arama_navbar_page button {
    float: right;
    height: 47px;
    width: 70px;
    margin-top:14px ;
    margin-left: -16px;
    border: none;
    background:white;
    color: rgb(168, 166, 166);
    font-size: 17px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
  }
  form.arama_navbar_page::after {
    content: "";
    clear: both;
    display: table;
  }
