* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .column-1_shopping_chart_page {
    float: left;
    width: 70%;
    padding: 0 10px;
    height: 100%;

  }
  .column-2{
    float: right;
    width: 30%;
    padding: 0 10px;   
    
  }
  

  .row {margin: 0 -5px;}
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
/*------------------------LEFT-SIDE----------------------------*/
  .card-1 {
    padding: 16px;
    text-align: center;
    height: 300px;
    border: none;
    resize: none;
  }
  .card-1::after{
    content: "";
    display: table;
    clear: both;
  
  }
  .card-1 img{
      width: 15%;
      float: left;
      resize: none;
      max-width: 15%;
  }
  .column-1-inside-1_shopping_cart_page{
      margin-left: 15px;
      float: left;
      text-align: left;
  }
  .column-1-inside-2_shopping_cart_page{
      float: right;
      text-align: right;
  }
  .button_chart_shopping_cart_page{
      border-radius: 3px;
      border:0.2px solid grey;
      width: 30%;
      height: 25px;
      opacity: 50%;
      margin-top: 100px;
  }
  


  /*------------------------RIGHT-SIDE----------------------------*/
  .card-2_shopping_cart_page {
    padding: 12px;
    width:500px;
    height:450px;
    background-color: #f1f1f1;
  }
  .btn-ödeme_shopping_cart_page{
      height:80px;
      width: 470px;
      background-color: blue;
      color: white;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 23px;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      text-align: center;
  }
  .column-2-inside-row_shopping_chart_page{
     margin-bottom: -10px;
     display: flex;
  }
  .column-2-inside-1_shopping_cart_page{
     float: left;
     text-align: left;
     
  }
  .column-2-inside-2_shopping_cart_page{
    float: right;
    text-align: right;
  }
  .column-2-row_shopping_chart_page::after{
    content: "";
    display: table;
    clear: both;
  }
  .topright_shopping_chart_page{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding-left:25px; 
  }
  .hr_shopping_chart_page{
    opacity: 30%;;
  }
 
  