body{
    background-color: darkblue;
    
}

.cart-icon{
    font-size: 16px;
}
.cart-count{
    position: relative;
    background-color: blue;
    font-size: 8px;
    top: -10px;
    left: -5px;
}