.card{
    max-width: 400px;
    text-align: left;
    font-family:'Open Sans', sans-serif, 'lcwaikikiregular' !important;;
    float: left ;   
}
.card:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.price{
    color: #193db0;
    font-size: 22px ;
    font-weight: bold;
    margin-left: 6px;
}
.card button:hover{
    opacity:1;
}
.column{
    
    margin: 30px;
    float: left;
    width: 100%;
    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .row_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column_top:first-child {
  margin: 0;
  margin-right: 7px;
}
.column_top {
  margin-right: 15px;
  margin-left: 15px;
}
h1 {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif, 'lcwaikikiregular' !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif, 'lcwaikikiregular' !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}
